@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
/* font-family: 'Inter', sans-serif; */
* {
    /* margin: espacio afuera del borde */
    margin: 0;
    /* espacio entre el borde y el contenido interior */
    padding: 0;
    /*  permite especificar el tamaño total del elemento
     de manera más intuitiva y fácil de entender */
    box-sizing: border-box;
 
}

.wrapper {
    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: 100% 100% 100% 100% 40% 5%;
    width: 100vw;
    height: 100vh;
}

body{
   
   font-family: 'Inter', sans-serif;
    font-size: 1.5vw;
    color: white;
}

/* --------------------------------- MENU ------------------------ */



.NavBran1 {
    background-image: url("/Img/fondo-gris-formas-geometricas_23-2148811539.avif");
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con opacidad (0.5 = 50% de opacidad) */
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: cover ;
    
}

.brand{
    position: absolute;
    left: 0;
    top: 0;
    padding: 3vw;
    z-index: 1;
    

}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.menu{
    padding: 3vw;

}

a {
    text-decoration: none;
    padding: 0.8vw;
    color: white;
    margin: 1.2vw;;

}
a:hover{
    background-color: #8DCBF2;
    color:black;
    border-radius: 5px;
    
}

.open_close {
    position: absolute;
    right: 0;
    top: 0;
}

.box_menu{
    display: flex;
    font-size: 60px;
}
.box_menu h1{
font-size: 50px;
}
.box_description{
    margin-top: 50px;
    margin-right: 50px;
    font-size: x-large;
}
.box_description h1{
    color: #F24464 ;
}
.div_buttom{
    display: flex;
    justify-content: center;
}
.box_buttom{
    
    width: 8em;
    height: 3em;
    color:white;
    background-color: #F24464;
    border: 2.5px solid #8DCBF2;
    border-radius: 5px ;
    margin-top: 2em;
   
}
.box_buttom:hover{
    background-color: #8DCBF2;
    color:rgb(108, 2, 2);
}

.box_icon{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    
}

.box_img{
    width: 4.5em;
    height: 6em;
    border: 5px solid rgb(141, 203, 242);
    border-radius: 3%;
    background-color:#b9b9b9;
   
    margin-left:50px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.6);
}
.box_img img{
    width: 100%;
    height: auto;
    border-radius: 10%;
    
    
}
/* ----------------------- MENU RESPOSIVE------------------------------- */

@media (max-width: 768px) {
  
    .menu {
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        transform: translateX(-180%);
        transition: all .30s ease-in-out;
        padding-left: 60px;
        font-size: medium;
        background-color: rgba(64, 132, 175, 0.8);
    }

    li {
        padding-bottom: 50px;
       
    }

    .menu_close {
        display: none;
    }
    .fa-bars, .fa-xmark{
        font-size: 20px;
        margin: 5px;
        color:white;
    }

    .view-menu {
        transform: translateX(-80%);
        transition: all .30s ease-in-out;
    }
    /* .box_description{
        display: none;
    } */
    .box_img{
        margin-left: 0px;
        width: 3.5em;
        height: 5em;
    }
    .box_menu{
        display: flex;
        flex-direction: column-reverse;
    align-items: center;
       
    }
    .box_description{
        margin-right: 0px;
    }
    .box_description h2{
        display: none;
    }

}

@media (min-width: 768px) {
    .open_close {
        display: none;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
    }

}

/* ------------------  PORTAFOLIO ------------------*/

.portafolio_name {
 position: absolute;
 left: 0;
 
}

.portafolio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around
}

.portafolio img {
    width: 7vw;

}

#card_animado1,
#card_animado2,
#card_animado3 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

/* CARD */

.card{
    width: 30vw;
    height: 30vh;
    background-color: rgb(140, 87, 87);
    color: white;
    opacity: 10;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
    border: 1px solid #000;
}

.card.show{
    animation: fadeInUp 3s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 481px){
    .portafolio{
        display: flex;
        flex-direction: column
    }
    .card{
        width: 30vw;
        height: 20vh;
    }
}


/* ----------------------- ABOUTME --------------------- */


.aboutme {

    background-color: rgb(156, 196, 234);

}

.portafolio {
    background-color: rgb(240, 184, 184);

}

.contacto {
    background-color: rgb(176, 176, 176);

}

.informacion {
    background-color: rgb(161, 120, 242);

}

.six {
    background-color: rgb(140, 232, 117);

}


/* ---------------- SCROLL DESPLAZAMINTO ------ */


